<div class="container">
  <div class="row g-0">
    <aside class="col-lg-5 col-sm-5 col-md-5 mb-3 mt-3">
      <h5
        *ngIf="flaglang == 'ltr'"
        class="fw-bold text-center pb-3 pt-3 text-warning"
      >
        Sign in
      </h5>
      <h5
        *ngIf="flaglang == 'rtl'"
        class="fw-bold text-center pb-3 pt-3 text-warning"
      >
        تسجيل الدخول
      </h5>

      <form
        class="form needs-validation row g-3"
        (ngSubmit)="login(form)"
        #form="ngForm"
      >
        <div class="col-md-12 col-lg-6 col-sm-12">
          <label *ngIf="flaglang == 'ltr'" for="inputPassword4"> E-mail </label>
          <label *ngIf="flaglang == 'rtl'" for="inputPassword4">
            البريد الالكتروني
          </label>
          <input
            ngModel
            #email="ngModel"
            name="email"
            type="email"
            class="form-control border-3"
            id="inputEmail4"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <div [hidden]="email.untouched" class="text-danger">
            <span
              *ngIf="flaglang == 'ltr'"
              [hidden]="!email.errors?.['required']"
              >email is required.</span
            >
            <span
              *ngIf="flaglang == 'rtl'"
              [hidden]="!email.errors?.['required']"
              >.مطلوب</span
            >
            <span
              *ngIf="flaglang == 'ltr'"
              [hidden]="!email.errors?.['pattern']"
              >Not valid</span
            >
            <span
              *ngIf="flaglang == 'rtl'"
              [hidden]="!email.errors?.['pattern']"
            >
              غير صحيح</span
            >
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <label *ngIf="flaglang == 'ltr'" for="inputPassword4">
            Password
          </label>
          <label *ngIf="flaglang == 'rtl'" for="inputPassword4">
            الرقم السري
          </label>
          <input
            ngModel
            #password="ngModel"
            name="password"
            type="password"
            class="form-control border-3"
            id="inputPassword4"
            required
            minlength="8"
          />
          <div [hidden]="password.untouched" class="text-danger">
            <span
              *ngIf="flaglang == 'ltr'"
              [hidden]="!password.errors?.['required']"
            >
              you must enter Password</span
            >
            <span
              *ngIf="flaglang == 'rtl'"
              [hidden]="!password.errors?.['required']"
            >
              يجب ادخال الرقم السري</span
            >
            <span
              *ngIf="flaglang == 'ltr'"
              [hidden]="!password.errors?.['minlength']"
            >
              invalid Password</span
            >
            <span
              *ngIf="flaglang == 'rtl'"
              [hidden]="!password.errors?.['pattern']"
            >
              غير صحيح</span
            >
          </div>
        </div>

        <button
          [disabled]="form.invalid"
          style="background-color: rgb(246, 139, 30)"
          type="button"
          class="btn text-white"
          type="submit"
        >
          <span *ngIf="flaglang == 'ltr'">Login</span>
          <span *ngIf="flaglang == 'rtl'">دخول</span>
        </button>

        <div class="alert alert-danger" *ngIf="errorMes">
          {{ errorMes }}
        </div>
      </form>
    </aside>

    <div class="vr" style="height: auto; margin: 30px"></div>
    <!-- start create account -->
    <aside class="col-lg-5 col-sm-5 col-md-5 mt-3 mb-3">
      <h5  *ngIf ="flaglang=='ltr'"
        class="fw-bold text-center pb-3 pt-3"
        style="color: #fff; background-color: rgb(246, 139, 30)"
      >
       Jumia 
      </h5>
      <h5  *ngIf ="flaglang=='rtl'"
      class="fw-bold text-center pb-3 pt-3"
      style="color: #fff; background-color: rgb(246, 139, 30)"
    >
    جوميا
    </h5>
      <form action="registeruser.html">
        <div class="mb-3 mt-4">
          <p *ngIf ="flaglang=='ltr'" class="">
            Create your Jumia customer account in just a few clicks! You can
            register
          </p>
          <p *ngIf ="flaglang=='rtl'" class="">
            أنشئ حساب عميل جوميا الخاص بك ببضع نقرات! يمكنك التسجيل
          </p>
        </div>
        <button
          style="background-color: rgb(246, 139, 30)"
          type="button"
          class="btn text-white col-12 mb-3 mt-4"
          type="submit"
          (click)="gotoReg()"
        >
        <span *ngIf ="flaglang=='ltr'"> CREATE ACCOUNT VIA E-MAIL</span> 
        <span *ngIf ="flaglang=='rtl'"> قم بأنشاء حساب جديد</span> 
        </button>
      </form>
    </aside>
    <!-- end create account -->
  </div>
</div>
